#widget-0515bd87-8b09-478e-d8c5-f346640c5fa2 .header-image {
				height: 218px;
				background-image: url(../attachments/Header/published_image_0.png);
				border-radius: 0 0 0 0;}#widget-0515bd87-8b09-478e-d8c5-f346640c5fa2 .header-title {
				top: 3px;
				left: 13px;
			}
			.rtl #widget-0515bd87-8b09-478e-d8c5-f346640c5fa2 .header-title {
				right: 13px;
			}
			#widget-0515bd87-8b09-478e-d8c5-f346640c5fa2 .header-title a {
				color: #505e73;
				font-weight: bold;
				font-size: 28px;
				font-style: normal;
				font-family: Oranienbaum;
				text-decoration: none;
			}