#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 {
	text-align: left;
}.rtl #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 {
	text-align: right;
}#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li > a {
			font-family: Open Sans;
			font-size: 16px;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: underline;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected:hover,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected:hover,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected:hover > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected:hover > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.selected,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.childselected,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.selected:hover,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.childselected:hover,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.selected > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.childselected > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.selected:hover > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li.childselected:hover > a,
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 > li.normal > a { color: #b23556;}
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 > li.normal > a { background-color: #DBE0EB; } #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 > li.normal > a { background-image: none; }
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected > a, #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected > a { color: #FFFFFF; }
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected > a, #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected > a { background-color: #4E6579; }
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul > li.normal > a { color: #b23556; }#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul > li.normal > a { background-image: none; }
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul > li.normal > a { background-color: #B2C6D8; }
		
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.normal:hover > a { color: #FFFFFF; }
		#navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.normal:hover > a { background-color: #4E6579; } #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected > a, #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected > a, #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.normal:hover > a { background-image: none; }.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected > a,
		.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected > a { color: #FFFFFF; }.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.selected > a,
		.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li.childselected > a { background-color: transparent; }.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li:hover > a { color: #FFFFFF; }.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 li:hover > a { background-color: transparent; }.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul > li > a { color: #b23556; }.mobile-view #navigation-2b2d9a84-6494-d973-5415-5ca8ae7bde06 ul > li > a { background-color: transparent; }